@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");

:root {
  --wrap: 1420px;
}

html {
  overflow-x: hidden;
}
body {
  --transform-top: 0;
  --transform-bottom: 0;
  /* -ms-text-size-adjust: 100%; */
  /* -webkit-text-size-adjust: 100%; */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#wrap {
  width: 100%;
  /* height: 9626px; */
  /* overflow: hidden; */
}

.curve {
  position: absolute;
  z-index: 3;
  width: 100%;
  transform: translate3d(0, -50%, 0);
  pointer-events: none;
}
.curve svg {
  display: block;
}
.curve .top {
  transform: scale3d(1, 0, 1);
  transform: scale3d(1, var(--transform-top), 1);
  transform-origin: bottom;
}
.curve .bottom {
  transform: scale3d(1, 0, 1);
  transform: scale3d(1, var(--transform-bottom), 1);
  transform-origin: top;
  margin-top: -1px;
}

/************ header **************/

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 10;
}

header > .logo {
  position: absolute;
  left: 250px;
  top: 23px;
  width: 36px;
  background-image: url(../images/Mask\ group.png);
}
header > .logo > a {
  display: block;
  height: 36px;
  text-indent: -9999px;
}
header > .menu {
  position: absolute;
  top: 32px;
  right: 250px;
  width: 20%;
}
header > .menu > .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
header > .menu > .container > li {
  color: #fff;
}

/************ header **************/

/************ banner **************/

.banner {
  width: 100%;
  height: 100vh;
  background-color: #000;
  position: relative;
}

.banner_text {
  font-size: 90px;
  color: #dcdcdc;
  font-weight: bold;
  position: absolute;
  top: 45%;
  left: 1000px;
}

.dot_round {
  position: absolute;
  top: 40px;
  left: 50%;
  animation: dot_spin infinite;
  animation-duration: 120s;
}

.dot_round img {
  width: 860px;
}

@keyframes dot_spin {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}

.small_dot {
  border-radius: 50%;
  position: absolute;
  background-color: #fff;
  filter: blur(60px);
}

.small_dot_left {
  width: 180px;
  height: 180px;
  top: 76px;
  left: 260px;
}

.small_dot_right {
  width: 150px;
  height: 150px;
  bottom: 140px;
  right: 273px;
}
/************ banner **************/

/************ exhibition **************/

.exhibition_info_wrap {
  position: relative;
  width: 100%;
  height: 2360px;
  padding: 240px 250px 0 250px;
  background-color: #eee;
}
.exhibition_info_wrap h4 {
  margin-bottom: 24px;
  font-family: "NanumSquareExtraBold";
  font-size: 32px;
}
.exhibition_info_wrap p {
  margin-bottom: 24px;
  line-height: 38px;
  font-family: "NanumSquare";
  font-size: 20px;
}
.exhibition_info_wrap .dot {
  margin-top: 690px;
  margin-bottom: 80px;
}
.exhibition_info_wrap img.dot_b_01 {
  position: absolute;
  top: 430px;
  left: 1330px;
}
.exhibition_info_wrap img.dot_b_02 {
  position: absolute;
  left: 0;
  top: 1420px;
}
/* .exhibition_info_wrap p:nth-child(2),
.exhibition_info_wrap p:nth-child(3){
  margin-top: 16px;
} */

/************ exhibition **************/

/************ wrok **************/

.work_wrap {
  width: 100%;
  height: 2700px;
  background-color: #fff;
}

.work {
  width: var(--wrap);
  margin: 0 auto;
}

.work_title {
  font-family: "NanumSquare", sans-serif;
  font-size: 32px;
  font-weight: 900;
  text-align: center;
  padding-top: 80px;
}

.work_btn_wrap {
  width: 1320px;
  margin: 0 auto;
  margin-top: 80px;
}

.work_btn_wrap ul {
  display: flex;
  justify-content: space-around;
}

.work_btn {
  width: 203px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 50px;
  font-family: "NanumSquare", sans-serif;
  text-align: center;
  line-height: 40px;
}

.work_card_wrap {
  width: var(--wrap);
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.work_card {
  width: 340px;
  height: 414px;
  margin: 0 20px 24px 0;
  position: relative;
  border: 1px solid #222;
  box-sizing: border-box;
}

.work_card:nth-child(4n) {
  margin-right: 0;
}

.work_card_name {
}

.work_card_categori {
}

.work_card_img {
  width: 340px;
  height: 380px;
  background-color: #eee;
}

/************ work **************/

/************ poftfolio **************/

.protfolio_wrap {
  width: 100%;
  height: 2400px;
  padding: 128px 250px 0 250px;
  color: #fff;
  background-color: #000;
}
.protfolio_wrap h4 {
  margin-bottom: 120px;
  font-family: "NanumSquareExtraBold";
  font-size: 32px;
}

/************ portfolio **************/

/************ infomation **************/

.information_wrap {
  width: 100%;
  height: 1430px;
  padding: 360px 250px 0 250px;
  background-color: #fff;
}
.information_wrap h4 {
  font-family: "NanumSquareExtraBold";
  font-size: 32px;
}

/************ infomation **************/

/************ footer **************/

.footer_wrap {
  width: 100%;
  height: 280px;
  background-color: #2a2a2a;
}

footer {
  width: var(--wrap);
  margin: 0 auto;
  color: #eee;
  font-family: "NanumSquare", sans-serif;
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
}

footer .logo {
  width: 220px;
  height: 76px;
  background: url(../images/logo_gray.png) no-repeat;
  background-size: 220px;
}

footer .footer_text {
  font-size: 14px;
  text-align: right;
  line-height: 30px;
}
/************ footer **************/
